<div class="container">
  <div class="row">
    <h2 class="pagetitle">Site2</h2>
      <p class="accessed">このページに<%= @visit %>回アクセスしました。</p>
      <p class="btn btn-primary"><%= link_to '戻る', action: :index %></button>
  </div>
</div>
